@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merienda:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merienda:wght@300..900&family=Phudu:wght@700&family=Tilt+Warp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Great+Vibes&family=Merienda:wght@300..900&family=Phudu:wght@600&family=Sansita+Swashed:wght@300..900&family=Tilt+Warp&display=swap");

* {
  font-family: "Anton SC", sans-serif;
  margin: 0;
  padding: 0;
}

/* Thu nhỏ navbar khi scroll down */
.top-section.shrink {
  height: 50px;
  transition: height 0.3s ease-in-out;
}

.top-section .logo.shrink {
  font-size: 30px;
  margin-left: 90px;
  transition: font-size 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}
.navbar.shrink {
  gap: 5px;
  margin-right: 65px;
  transition: gap 0.3s ease-in-out, margin-right 0.3s ease-in-out;
}

.navbar.shrink a {
  font-size: 15px;
  padding: 5px;
  transition: font-size 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.toggle-btn.shrink .fa-bars {
  transform: translateX(35px);
  transition: font-size 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* General styles */
a {
  text-decoration: none;
}

.top-section {
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 80px;
  display: flex;
  top: 0px;
  left: 0px;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom,
      rgba(23, 23, 23, 1) 0%,
      rgba(23, 23, 23, 0) 100%);
  z-index: 999;
  transition: height 0.3s ease-in-out;
}

.top-section .logo {
  font-size: 35px;
  color: #eee;
  margin-left: 150px;
  cursor: pointer;
  letter-spacing: 2px;
  transition: font-size 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

.top-section a {
  color: #eee;
  margin-right: 20px;
  transition: all 0.3s ease-in-out;
}

a {
  background-image: linear-gradient(to right,
      var(--main-color),
      var(--main-color) 50%,
      #ffffff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before {
  content: "";
  background: var(--main-color);
  display: block;
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
  background-position: 0;
}

a:hover::before {
  width: 100%;
}

.navbar {
  display: flex;
  gap: 20px;
  margin-right: 50px;
  transition: gap 0.3s ease-in-out, margin-right 0.3s ease-in-out;
}

.toggle-btn {
  display: none;
  font-size: 24px;
  color: #eee;
  position: relative;
  left: -50px;
}

.dropdown {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  z-index: 100;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Subtle shadow for depth */
  transition: height 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), top 0.3s ease-in-out;
}

.dropdown a {
  padding: 10px;
  color: #eee;
  margin: 5px 0;
  display: flex;
  justify-content: center;
}

.dropdown.open {
  height: 150px;
}

/* Media queries for responsiveness */
@media (max-width: 992px) {
  .navbar {
    display: none;
  }

  .toggle-btn {
    display: block;
  }

  .dropdown {
    display: block;
  }

  .top-section .logo {
    font-size: 30px;
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .toggle-btn {
    display: block;
  }

  .dropdown {
    display: block;
  }

  .top-section .logo {
    font-size: 30px;
    margin-left: 20px;
  }
}

@media (max-width: 576px) {
  .navbar {
    display: none;
  }

  .top-section .logo {
    font-size: 30px;
    margin-left: 20px;
  }
  .top-section .logo.shrink {
    font-size: 20px;
    margin-left: 15px;
  }

  .toggle-btn {
    display: block;
  }

  .dropdown {
    display: block;
  }
}